{% extends 'base.html' %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
<div class="row">
    <div class="col"></div>
    <div class="col align-self-center">
        <div class="card" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">{{ group.group_name }} {{ group.group_name }}</h5>
                <h6 class="card-subtitle mb-2 text-muted">{{ group.group_text }}</h6>
                <p class="card-text">{{ group.group_start |date:"y M Y" }}</p>
                <div class="text-center">
                    <a class="btn btn-outline-primary" href="{% url 'groups:update' group.pk %}">Edit</a>
                    <a class="btn btn-outline-primary" href="{% url 'groups:list' %}">Back to list</a>
                </div>
            </div>
        </div>
    </div>
    <div class="col"></div>
</div>
{% endblock %}