{% extends 'base.html' %}

{% block title %}List of teachers{% endblock %}

{% block content %}
    <form method="get">
        <label for="fname">First name:</label>
        <input type="text" id="fname" name="first_name"><br><br>
        <label for="lname">Last name:</label>
        <input type="text" id="lname" name="last_name"><br><br><br>
        <input type="submit" value="Submit"><br>
    </form>
    <br>
    <br>
    <table>
        <thead>
            <tr>
                <th>First name</th>
                <th>Last name</th>
                <th>Birthday</th>
                <th>Update</th>
                <th>Delete</th>
            </tr>
        <thead>
        <tbody>
            {% for st in teachers %}
                <tr>
                    <td><a href="{% url 'teachers:detail' st.pk %}">{{st.first_name}}</a></td>
                    <td>{{st.last_name}}</td>
                    <td>{{st.birthday}}</td>
                    <td><a href="{% url 'teachers:update' st.pk %}">Edit</a></td>
                    <td><a href="{% url 'teachers:delete' st.pk %}">Remove</a></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}